<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjG54mD_qk9_0KCQBU6ci_B5gW5w5sTD0</string>
	<key>GCM_SENDER_ID</key>
	<string>352386855104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devathone</string>
	<key>PROJECT_ID</key>
	<string>devathonkamran</string>
	<key>STORAGE_BUCKET</key>
	<string>devathonkamran.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352386855104:ios:d538afc5119d66898f3d25</string>
</dict>
</plist>